<div id="patreonContainer">
    <p id="patreonHeader">Do you like this work?</p>
    <div id=chibi>
        <img  style="position: absolute; left: 0; bottom: 0; height: 100%;">
    </div>
    <div id="patreonContainer3">
        <p id="patreonText">then you can support me for more like this by click the button below and join my Patreon!</p>

        <div id="patreonButtonContainer">
            <div id="patreonButton" onclick="patreonButtonClick();">
                <svg width="180px" height="60px" viewBox="0 0 180 60">
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                </svg>
                <div id="patreonButtonImage">
                    <svg id="patreonIcon" viewBox="0 0 180 180"><path d="M108.8135992 26.06720125c-26.468266 0-48.00213212 21.53066613-48.00213212 47.99733213 0 26.38653268 21.53386613 47.85426547 48.00213213 47.85426547 26.38639937 0 47.8530655-21.4677328 47.8530655-47.85426547 0-26.466666-21.46666613-47.99733213-47.85306547-47.99733213"/><path d="M23.333335 153.93333178V26.0666679h23.46666576v127.8666639z"/></svg>
                </div>
                <div id="patreonButtonText">
                    <span>Patreon</span>
                </div>  
            </div>
        </div>
    </div>
</div>

<style>
    #patreonContainer{
        width: 100%;
        height: 150px;
        position: relative;
        overflow: hidden;
        color: var(--text);
        background-color: var(--systemGray6);
        border-top: 1px solid var(--systemGray);
    }

    #patreonContainer #patreonHeader{
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 0.1em;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    #patreonContainer #patreonText{
        font-size: 0.875rem;
        line-height: 1.28571;
        letter-spacing: 0.08em;
        display: table;
        margin: 0 auto;
        text-align: center;
        padding: 0 4px;
    }

    #patreonContainer #chibi {
        width: 30%;
        height: 100%;
        float: left;
        display: inline-flex;
        align-items: center;
    }

    #patreonContainer #patreonContainer3{
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
    }

    #patreonContainer #patreonButtonContainer{
        position: relative;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }

    #patreonContainer #patreonButton {
        width: 180px;
        height: 60px;
        cursor: pointer;
        background: #141518;
        border: 1px solid #363B44;
        border-radius: 0px;
        outline: none;
        transition: 1s ease-in-out;
        padding: 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #patreonContainer #patreonButton svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 150 480;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
    }

    #patreonContainer #patreonButton:hover {
        transition: 1s ease-in-out;
        background: #ff424d;
    }

    #patreonContainer #patreonButton:hover svg {
        stroke-dashoffset: -480;
    }

    #patreonContainer #patreonButtonText {
        width: 75%;
        height: 100%;
        float: left;
        display: inline-flex;
        align-items: center;
    }

    #patreonContainer #patreonButton span {
        color: #ff424d;
        font-size: 100%;
        font-weight: 800;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    #patreonContainer #patreonButton:hover span {
        transition: 1s ease-in-out;
        color: #141518;
    }

    #patreonContainer #patreonButton #patreonIcon{
        background-color: #141518;
        fill: #ff424d;
        position: relative;
        width: 100%;
    }

    #patreonContainer #patreonButtonImage{
        float: left;
        width: 25%;
        height: 100%;
        padding: 0px 8px;
        background-color: #141518;
        display: inline-flex;
        align-items: center;
    }
</style>

<script>
    function patreonButtonClick() {
        window.open("https://www.patreon.com/GiantMurloc");
    }

    $("patreonButton").on('click', function(e) {
   if (e.which == 2) {
      patreonButtonClick();
   }
});
</script>