<style>
    .videoPlayer {
        height: 100%;
        width: 100%;
        background-color: #000000;
        position: relative;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        --ProgressbarHeight: 5px;
        --accentColor: #3390B9;
        --subTranslateY: ;
    }

    .videoPlayer:hover .videoOver{
        height: calc(100% - 45px);
    }

    .videoPlayer:hover .videoControls{
        transform: translateY(0);
    }

    .videoContainer {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video {
        display: table;
        margin: 0 auto;
        outline: none;
        max-width: 100%;
        max-height: 100%;
    }

    .vBigbutton{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .vBigbutton button{
        display: block;
        cursor: pointer;
        border-radius: 50%;
        border: 0;
        outline: 0;
        background-color: var(--accentColor);
        height: 70px;
        width: 70px;
    }

    .videoOver{
        position: absolute;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.2s;
    }

    .vSub{
        color: #ffffff;
        position: relative;
    }

    .videoControls {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        flex-wrap: wrap;
        transform: translateY(100%);
        transition: all 0.2s;
    }

    .vProgress {
        height: 5px;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;
        position: relative;
    }

    .vProgress:hover .vProgressbar{
        height: 8px;
    }

    .vProgress:hover .vScrubber{
        width: 14px;
        height: 14px;
    }

    .vProgressbarLoaded{
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
    }

    .vProgressbar {
        height: 100%;
        background-color: var(--accentColor);
        position: absolute;
        overflow: visible;
        display: flex;
        align-items: center;
    }

    .vScrubber {
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: var(--accentColor);
        right: -7px;
        position: absolute;
    }

    .vButtons{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .vButtons * {
        float:left; 
        display:inline;
        color: #ffffff;
    }

    .vButtons button {
        background: none;
        border: 0;
        outline: 0;
        cursor: pointer;
        height: 40px;
        display: inline-block;
    }

    .vButtons div{
        font-size: 13px;
    }
</style>

<div class="videoPlayer">
    <div class="videoContainer">
        <video class="video" preload>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
            <!--src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"-->
        </video>
        <div class="vBigbutton"><button>Play!</button></div>
        <div class="videoOver" onclick="togglePlay();">
            <div class="vSub">
                <div style="bottom: 0; position: absolute;">some text</div> 
            </div>
        </div>
        <div class="videoControls">
            <div class="vProgress">
                <div class="vProgressbarLoaded"></div>
                <div class="vProgressbar"><div class="vScrubber"></div></div>
            </div>
            <div class="vButtons">
                <button>before</button>
                <button id="vPlayPause" onclick="togglePlay();">Play</button>
                <button>next</button>
                <button onclick="fullscreen(true);">mute</button>
                <div class="vTime">00:00 / 00:00</div>
            </div>
        </div>
    </div>
</div>

<script>
    var player = document.getElementsByClassName("videoPlayer");
    var video = document.querySelector(".video");
    var progressbar = document.querySelector(".vProgressbar");
    var progressbarLoaded = document.querySelector(".vProgressbarLoaded");

    function playPause(state) {
        if (state) {
            $('.vBigbutton').hide();
            videoResize();
            $('.video').get(0).play();
        }else {
            $('.video').get(0).pause();
        }
    }

    function fullscreen(state) {
        if(state) {
            if (player.requestFullscreen) {
                player.requestFullscreen();
            } else if (player.webkitRequestFullscreen) { /* Safari */
                player.webkitRequestFullscreen();
            } else if (player.msRequestFullscreen) { /* IE11 */
                player.msRequestFullscreen();
            }
        }else {

        }
    }

    function videoResize(){
        if($('.video').height() < $('.video').parent().height() && (!$('.video').width() < $('.video').parent().width())) {
            $('.video').width("auto");
            $('.video').height("100%");
        }else {
            //$('.video').height("auto");
            //$('.video').width("100%");
        }
        $('.vSub').width(($(".video").width() / $('.video').parent().width() * 100) + "%");
        $('.vSub').height(($(".video").height() / $('.video').parent().height() * 100) + "%");
    }

    window.addEventListener('resize', function() {
        videoResize();
    });

    function togglePlay() {
        playPause($('.video').get(0).paused);
    }

    $('.video').get(0).addEventListener('timeupdate', function() {
        var videoProgress = $('.video').get(0).currentTime / $('.video').get(0).duration;

        var date = new Date(0);
        date.setSeconds($('.video').get(0).duration);
        var duration = date.toISOString().substr(11, 8);

        if(duration.startsWith("00")) {
            var date = new Date(0);
            date.setSeconds($('.video').get(0).currentTime);
            var currentTime = date.toISOString().substr(14, 5);
            var date = new Date(0);
            date.setSeconds($('.video').get(0).duration);
            var duration = date.toISOString().substr(14, 5);
        }else {
            var date = new Date(0);
            date.setSeconds($('.video').get(0).currentTime);
            var currentTime = date.toISOString().substr(11, 8);
        }

        document.querySelector(".vTime").innerHTML = (currentTime + " / " + duration);
        

        progressbar.style.width = videoProgress * 100 + "%";

        var videoLoadedStart = $('.video').get(0).buffered.start(0) / $('.video').get(0).duration;
        var videoLoadedEnd = $('.video').get(0).buffered.end(0) / $('.video').get(0).duration;

        progressbarLoaded.style.width = videoLoadedEnd * 100 + "%";
        progressbarLoaded.style.left = videoLoadedStart * 100 + "%";
    })
</script>