<!doctype html>
<html>
    <header>
        {% include header.html %}
        {% include preloader.html %}
        {% include navbar.html %}
    </header>
    <body>
        <style>
            #pagecontent {
                width: 100%;
                position: fixed;
                top: 54px;
                bottom: 0;
                overflow: auto;
                padding: 0px;
                scrollbar-color: var(--scrollcolor);
            }
        </style>

        <div id="pagecontent">
            {{ content }}
        </div>
    </body>
</html>